# Claude
claude
CLAUDE.md

# Python
__pycache__/
.venv
venv/

# Dependency directories
node_modules/
.next/

# DB object
*.db

# Local environment overrides
.env
.envs/*
.envs/.dev/local/
!.envs/.dev/

# Test Coverage
.coverage
htmlcov/
