# Claude
claude
CLAUDE.md

# Python
__pycache__/
.venv
venv/

# Dependency directories
node_modules/
.next/

# DB object
*.db

# Local environment overrides
.envs/.dev/local/

# Test Coverage
.coverage
htmlcov/ 